html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
#banner {
    background-color: #4aaaa5;
    padding: 20px;
    width: 225px;
    margin-left: 300px;
    position: absolute;
    top: 11px;
}

#name {
    color: white;
    text-align: center;
    line-height: 36px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#links,
ul  {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin-right: 145px;
    padding: 0;
    overflow: hidden;
    color: #777777;
}

li {
    float:right;
}

li a {
    display: block;
    color: #e7e7e7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.container {
    background-image: url(../images/prism.png);
    background-size: cover;
    width: 100%;
    text-align: center;
}

.mainbox {
    background-color: #ffffff;
    width: 960px;
    margin: 25px 300px 30px 300px;
    display: inline-block;
}

header {
    float: left;
    color: #4aaaa5;
    border-bottom-color: #e7e7e7;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    width: 90%;
    margin-left: 15px;
    margin-right: 50px;
    margin-bottom: 15px;
}

#bio-pic {
    clear: both;
    height: 30%;
    width: 30%;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-align:left;
}

 p {
    text-align:left;
    line-height: 32px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    left: 20px;
    color: #777777;
    margin-right: 30px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .footer {
     background-color:#666666;
     border-top-color: #4aaaa5;
     border-top-style: solid;
     border-top-width: 8px;
     text-align: center;
     font-size: 10px;
     padding: 20px;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     flex-shrink: 0;
 }

 .inputbox {
     text-align: left;
     margin-left: 20px;
     width: 80%;
     margin-top: 10px;
     color: #777777;
     font-family: Arial, Helvetica, sans-serif;
 }

 .inputmessage {
    text-align: left;
    margin-left: 20px;
    width: 80%;
    margin-top: 20px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
 }
 .submitbutton {
     text-align: left;
     float: left;
     margin-left: 20px;
     background-color: #4aaaa5;
     color: white;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 25px;
     padding-right: 25px;
     margin-bottom: 5px;
     font-family: Arial, Helvetica, sans-serif;
 }

 .form-control {
     text-align: left;
     width: 95%;
     height: 25px;
 }
 .form-control1 {
     text-align:left;
     width: 95%;
     height: 200px;
 }
.image {
    float: left;
    margin: 20px;
    clear: right;
}
img {
    width: 175px;
    height: 125px;
}

.caption {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
}

.caption:hover {
    font-weight: bolder;
}